@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: rgb(0, 0, 0);
}
nav .logo {
  width: 8rem;
}
nav .nav-link {
  color: white;
}
nav .nav-link:hover {
  color: white;
  font-weight: 600;
}
nav .userBtn,
nav .cartBtn {
  text-decoration: none;
  cursor: pointer;
}
nav .numerito {
  color: white;
  font-size: 1rem;
}

.heroSection {
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.heroSection div {
  padding-top: 20rem;
  padding-left: 5rem;
}
@media (max-width: 1054px) {
  .heroSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    height: 100vh;
  }
}
.heroSection h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.heroSection h2 {
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.heroSection button {
  border-radius: 0.2rem;
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.241);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.heroSection button:hover {
  background-color: white;
  color: black;
}

footer {
  font-family: "Poppins", sans-serif;
}
footer h5 {
  font-size: 0.9rem;
  font-weight: 600;
}
footer p {
  font-size: 0.8rem;
  color: gray;
}

/* título principal */
.tituloPrincipal {
  font-size: 3rem;
}

/* categorías */
li {
  list-style: none;
}

.botonCategoria {
  background-color: transparent;
  border: none;
  color: rgb(72, 71, 71);
  font-size: 1.2rem;
  transition: color 0.3s ease;
  margin: 0.5rem;
}
.botonCategoria:hover {
  color: black;
}
.botonCategoria.active {
  color: black;
  font-weight: 600;
}

.producto {
  padding: 0;
  padding-bottom: 1rem;
  border: 0.5rem solid black;
  border-radius: 0.3rem;
  max-width: 25rem;
  background-color: black;
  margin: 1rem;
}
.producto .productoImagen {
  margin-bottom: 1rem;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
}
.producto .productoTitulo,
.producto .productoPrecio {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.producto .productoDescripcion {
  color: white;
  font-size: 0.9rem;
}
.producto .botonAgregar {
  border: none;
  border-radius: 0.2rem;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.fa-heart {
  font-size: 1.4rem;
  color: white;
}

.contenedorCarrito {
  width: 50rem;
}
.contenedorCarrito .carritoVacio {
  color: black;
}
.contenedorCarrito .carritoProductos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedorCarrito .carritoProductos .carritoProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);
  align-items: center;
  border-radius: 0.3rem;
  color: black;
  margin-bottom: 2rem;
  padding: 1rem;
}
.contenedorCarrito .carritoProductos .carritoProducto .carritoProductoImagen {
  width: 6rem;
  border-radius: 0.3rem;
}
.contenedorCarrito .carritoProductos .carritoProducto p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.contenedorCarrito .carritoProductos .carritoProducto .carritoProductoCantidad {
  display: flex;
  flex-direction: column;
}
.contenedorCarrito .carritoProductos .carritoProducto .carritoProductoCantidad .botonesCantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenedorCarrito .carritoProductos .carritoProducto .carritoProductoCantidad .botonesCantidad .botonRestar,
.contenedorCarrito .carritoProductos .carritoProducto .carritoProductoCantidad .botonesCantidad .botonSumar {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}
.contenedorCarrito .carritoProductos .carritoProducto .carritoProductoEliminar {
  border: none;
  background-color: transparent;
  color: rgb(226, 8, 8);
  cursor: pointer;
}
.contenedorCarrito .carritoAcciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedorCarrito .carritoAcciones .botonVaciarCarrito {
  border: none;
  border-radius: 0.2rem;
  background-color: black;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.contenedorCarrito .carritoAcciones .carritoAccionesTotal {
  border: none;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: rgb(248, 248, 248);
  color: black;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.contenedorCarrito .carritoAcciones .botonComprarCarrito {
  border: none;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: black;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.contenedorCarrito .disabled {
  display: none;
}

.mainNosotros {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mainNosotros img {
  border-radius: 0.5rem;
  max-width: 100%;
}
.mainNosotros figcaption {
  font-weight: 600;
  font-style: italic;
}
.mainNosotros .nosotrosTitulo {
  font-size: 2.2rem;
  font-weight: 600;
}
.mainNosotros p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
@media (max-width: 992px) {
  .mainNosotros p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .mainNosotros p {
    text-align: center;
  }
}

.imgContainer img {
  max-height: 40rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: 2rem;
}

.botonContacto {
  padding-left: 5rem;
  padding-right: 5rem;
}

/*# sourceMappingURL=style.css.map */
